.broadband-waterfall {
  height: 300px;
  width: 300px;
  background-color: #001100;
}

.broadband-waterfall-wrapper {
  position: relative;
  color: lightgreen;
  font-family: monospace;
  font-size: 10px;
  overflow: hidden;
  cursor: crosshair;
}

.broadband-contact-info {
  position: absolute;
  bottom: 4px;
  left: 4px;
}

.time-and-bearing-indicator {
  position: absolute;
  text-align: center;
  bottom: 4px;
  right: 4px;
}

.tiny-bearing-indicator {
  position: relative;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 60px;
  width: 60px;
}

.tiny-bearing-pointer {
  position: absolute;
  width: 30px;
  text-align: right;
  display: block;
  transform-origin: left center;
  color: lightgreen;
  top: 50%;
  left: 50%;
  font-size: 12px;
}

.tiny-bearing-text {
  text-align: center;
  line-height: 60px;
  height: 60px;
}

.taken-bearing {
  position: absolute;
  transform: translate(-50%, -2px);
  padding: 2px;
  cursor: crosshair;
}

.taken-bearing::before {
  content: "";
  margin: auto;
  display: block;
  height: 4px;
  width: 4px;
  border: 1px lightgreen solid;
  border-radius: 50%;
}
