.broadband-waterfall {
  height: 300px;
  width: 300px;
  background-color: #001100;
  cursor: crosshair;
}

.broadband-waterfall-wrapper {
  position: relative;
}

.time-and-bearing-indicator {
  font-family: sans-serif;
  position: absolute;
  color: lightgreen;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px;
  bottom: 0;
  right: 0;
}
