.broadband-waterfall {
  height: 300px;
  width: 300px;
  background-color: #001100;
}

.narrowband-bay {
  display: flex;
  flex-direction: column;
}

.broadband-waveform {
  background-color: black;
}

.narrowband-signature-display {
  background-color: #001100;
  height: 20px;
  position: relative;
}

.narrowband-signature-display > .mark {
  height: 16px;
  border: 2px solid lime;
  width: 0;
  position: absolute;
}
