.sonar-station {
  padding: 8px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  height: calc(100vh - 16px);
  grid-gap: 8px;
}

.broadband-waterfall {
  height: 300px;
  width: 300px;
}

.broadband-bay-1 {
  grid-row: 1/3;
  grid-column: 1;
}

.broadband-bay-2 {
  grid-row: 3/5;
  grid-column: 1;
}

.contact-manager {
  grid-row: 1;
  grid-column: 2/4;
}
