.in-game {
  display: flex;
}

.in-game .switcher-wrapper {
  min-width: 100px;
}

.in-game .station-wrapper {
  flex-grow: 1;
  background-color: lightslategray;
}

.game-debug-info {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 10px;
}

.game-debug-info .contents {
  position: relative;
  text-align: left;
  width: 500px;
  background-color: white;
  border: 1px solid blue;
  right: 0;
  display: none;
}

.game-debug-info:hover .contents {
  display: block;
}

/* Universal styles go here too!! */

.card {
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  padding: 8px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ded-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 30px;
  color: lightgreen;
  font-family: monospace;
  animation-name: example;
  animation-duration: 1s;
  line-height: 100vh;
  text-align: center;
}
