.map-viewport {
  width: calc(100vw - 100px);
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: lightgray;
}

.map-pane {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform-origin: top left;
}

.map-pane img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.map-zoom-buttons {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.map-zoom-buttons button {
  background-color: black;
  color: white;
  font-size: 15pt;
}

.map-player-icon {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: bottom;
  border: 2px solid blue;
  color: blue;
  position: absolute;
  top: -11px;
  left: -11px;
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.7)
}

.map-player-icon::after {
  position: relative;
  height: 0;
  top: -6px;
  font-size: 15px;
  content: "";
  border: 1px solid blue;
}
