.depth-controller {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.depth-controller-clickarea {
  margin: 10px auto;
  padding: 0 10px;
  width: 20px;
  cursor: pointer;
  flex-grow: 1;
}

.depth-controller-line {
  border: 1px green dotted;
  border-right: 0;
  width: 0px;
  position: relative;
  height: 100%;
  margin: auto;
}

.depth-controller-line::before {
  font-size: 0;
  content: '';
  position: absolute;
  top: -1px;
  right: -10px;
  width: 20px;
  border-top: 1px solid green;
}

.depth-controller-line::after {
  font-size: 0;
  content: '';
  position: absolute;
  bottom: -1px;
  right: -10px;
  width: 20px;
  border-top: 1px solid green;
}

.depth-indicator {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 20px;
  margin-top: -10px;
  width: 135px;
  top: 0;
  transition: top 0.4s;
}

.depth-indicator:not(.current-depth-indicator) {
  left: 1px;
}

.depth-indicator.current-depth-indicator {
  text-align: right;
  right: 1px;
}

.depth-indicator:not(.current-depth-indicator)::before, .current-depth-indicator::after {
  vertical-align: middle;
  display: inline-block;
  font-size: 0;
  content: ' ';
  width: 16px;
}

.current-depth-indicator::after {
  border-bottom: 1px solid green;
}

.requested-depth-indicator::before {
  border-bottom: 1px dotted green;
}

.seafloor-depth-indicator::before {
  border-bottom: 1px solid green;
}

.seafloor-depth-indicator {}

.never-exceed-depth-indicator::before {
  border-bottom: 1px solid orange;
}

.crush-depth-indicator::before {
  border-bottom: 1px solid red;
}
