.helm-station {
  max-height: 100vh;
  display: flex;
}

.helm-station-inner {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 8px;
  align-items: flex-start;
}

.helm-station-inner .card {
  max-width: 350px;
  width: 350px;
}

.basic-controller {
  width: 350px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  flex-grow: 1;
}

.helm-map {
  height: 350px;
  width: 350px;
}

.helm-map-wrapper {
  padding: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}
